.custom-text-field {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.custom-text-field:focused {
    -fx-border-color: red;
    -fx-background-color: white;
}

.header-label {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}